.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding: 15px;
  font-weight: 700;
  color: #757575;
}

.meter {
  margin-bottom: 10px;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group .title {
  padding: 10px;
  background: none;
  font-weight: 300;
  color: #ccc;
}
